@import url('https://fonts.googleapis.com/css2?family=Rubik+Scribble&display=swap');

/*RESET STYLES*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*VARIABLE DECLARATIONS */
:root{
--FF: "Rubik Scribble";
}



/*GENERAL STYLES*/
body{
  font-family: var(--FF);
  padding: 1rem;
  font-size: 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main__figure{
  width: 90vw;
  height: 90vh;
}

.main__rock,.main__paper,.main__scissors{
  height: 90vh;
  z-index: 0;
}

.main__rock{
  animation: shuffle 2s infinite;
}

@keyframes shuffle{
  0%{
    transform: translateY(-50px);

  }
  /* 100%{
    transform: translateY(-100px);

  } */
}

